:root {
  --primary-dark: #333;
  --secondary-dark: #444;
  --primary-light: #eee;
  --secondary-light: #ddd;
  --high-priority: #ffcccb;
  --medium-priority: #ffe5b4;
  --low-priority: #90ee90;
}
/* reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  /* footer support */
  /* margin-bottom: 48px;  */
}

/* header */
.header {
  position: sticky;
  top: 0;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  font-size: 1.5rem;
}
.header-left-section{
  display: flex;
  align-items: center;
}
/* sidebar */
.content {
  display: flex;
  flex-grow: 1;
  width: 100%;
}
.content .sidebar {
  flex: 1;
  background-color: var(--secondary-light);
}
.nav {
  width: 300px;
  min-width: 250px;
  padding: 20px;
  background-color: var(--secondary-light);
}
.add-project-popup {
  display: none;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.add-project-popup.active {
  display: block !important;
}

/* taskview */
.content .taskview {
  flex: 4;
}
/* The Modal (hidden by default) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 400px;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.todo-checkbox {
  margin-right: 10px;
}

.todo-title {
  flex-grow: 1;
  margin-right: 10px;
}

.todo-due-date {
  margin-left: auto;
}

.priority-high {
  background-color: var(--high-priority); /* Light red for high priority */
}

.priority-medium {
  background-color: var(--medium-priority); /* Light orange for medium priority */
}

.priority-low {
  background-color: var(--low-priority); /* Light green for low priority */
}

.todo-checkbox:checked + .todo-title {
  text-decoration: line-through;
  opacity: 0.6;
}

/* Footer  */
.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  background-color: var(--primary-dark);
  color: var(--secondary-light);
  font-size: 18px;
}
.fa-github {
  color: var(--primary-light);
  font-size: 22px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
